body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: beige;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {
    padding-top: 5%;
}

.listHeader {
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
}

.listHeader h3 {
    color: white;
    padding-left: 10px;
}

.listBody {
    z-index: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.listBodyActive {
    text-align: center;
    min-height: 300px;
}

.formHeader {
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
}

.formHeader h3 {
    color: white;
    padding-left: 10px;
}

.addFormModal {
    height: 30%;
    width: 30%;
    margin: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formBody {
    padding: 5%;
    margin: 3%;
}

.todo-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.MuiTabs-root {
    display: flex;
    overflow: hidden;
    min-height: 48px;
    color: grey;
    -webkit-overflow-scrolling: touch;
}

.MuiTabs-centered {
    justify-content: center;
    border-bottom: 1px solid #e6e3e3;
}

.MuiExpansionPanelDetails-root {
    text-align: left;
    display: flex;
    padding: 8px 24px 24px;
}